body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 0.75em;
    border-radius: 16px;
    margin: 8px;
    height: 5vh;
    width: 10vw;
    overflow: clip;
}